* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #121214;

  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  font-size: 4rem;
  color: #8257e6;

  animation: bottom-up 1.64s infinite alternate;
}

@keyframes bottom-up {
  0% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
